.App {
  max-width: 960px;
  margin: 0 auto;
}
.App-header {
  margin: 20px 0;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
  font-size: 13px;
}

.App a {
  color: #85cdde;
}


.App h1 {
  text-align: center;
  color: #083F68;
}